body,
html {
  height: 100vh;
  margin: 0;
}
.container1 {
  display: flex;
  justify-content: center;
  height: 50%;
  overflow: hidden;
  position: relative;
}
.container2 {
  display: flex;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.box1,
.box2,
.box3 {
  width: calc(50% - 20px);
  margin: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.box3.full {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
